
# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

# SwiftPM
.build/
.swiftpm/

# Xcode package resolution
Package.resolved

# Playground
timeline.xctimeline
playground.xcworkspace

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Code coverage
*.xccovreport
*.xccovarchive

# Archives
*.xcarchive

# Simulator captures
*.mov
